
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Item</h5>
      <input type="text" class="form-control" [(ngModel)]="myExpenses.item"/>
    </div>

    <div class="card-body">
      <h5 class="card-title">Cost</h5>
      <div class="input-group mb-3">
        <span class="input-group-text">₱</span>
        <input type="text" class="form-control" [(ngModel)]="myExpenses.cost">
        <span class="input-group-text">.00</span>
      </div>

      <div class="input-group">
        <span class="input-group-text">Notes</span>
        <textarea class="form-control" [(ngModel)]="myExpenses.note"></textarea>
      </div>
    </div>

    <button class="btn btn-primary" (click)="btnClicked()">Add Expense</button>
  </div>

