<div class="card-body">
  <h5 class="card-title">Category</h5>
  <app-category-select (categorySelectedEvent)="setCategoryId($event)" ></app-category-select>
</div>
    <div class="card-body">
      <h5 class="card-title">Item</h5>
      <input type="text" class="form-control" [(ngModel)]="myExpense.name"/>
    </div>
    <div class="card-body">
      <h5 class="card-title">Cost</h5>
      <div class="input-group mb-3">
        <span class="input-group-text">₱</span>
        <input type="number" class="form-control" [(ngModel)]="myExpense.cost">
      </div>
      <div class="input-group">
        <span class="input-group-text">Notes</span>
        <textarea class="form-control" [(ngModel)]="myExpense.note"></textarea>
      </div> <button class="btn btn-primary mt-3" (click)="addButton()">Add Expense</button>
    </div>
   

