<div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Destination 1</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="dropdown">
          <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Add Expenses</a></li>
            <li><a class="dropdown-item" href="#">Edit Destination</a></li>
            <li><a class="dropdown-item" href="#">Delete Destination</a></li>
          </ul>
        </div>
        <h5 class="card-title">Destination 2</h5>
        <p class="card-text">Planned dates: (Date start) to (Date end)</p>
        <p class="card-text">Total # of days: ()</p>
        <p class="card-text">Total Budget: ()</p>
        <p class="card-text">Total Expenses: ()</p>
        <p class="card-text">Remaining Funds: ()</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Destination 3</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>

