<div class="row">
  <!-- <table class="col-sm-3">
    <tr class="list-group " *ngIf="expense.categoryId == category.id">
      <td class="list-group-item">{{category.categoryName}}</td>
    </tr>
  </table> -->
  <table class="col-sm-3">
    <tr class="list-group ">
      <td class="list-group-item">{{getCategoryName(expense.categoryId)}}</td>
    </tr>
  </table>
  <table class="col-sm-3">
    <tr class="list-group ">
      <td class="list-group-item">{{expense.name}}</td>
    </tr>
  </table>
  <table class="col-sm-3">
    <tr class="list-group">
      <td class="list-group-item">{{expense.note}}</td>
    </tr>
  </table>
  <table class="col-sm-3">
    <tr class="list-group">
      <td class="list-group-item">₱ {{expense.cost}}</td>
    </tr>
  </table>
</div>

