<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">Overall Budget</h5>
          <p>₱ {{totalBudget}}</p>
          <h5 class="card-title">Overall Expense</h5>
          <p>₱ {{totalExpense}}</p>
          <h5 class="card-title">Remaining</h5>
          <p>₱ {{remaining}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">Category</h5>
          <input type="text" class="form-control" />
        </div>
        <div class="card-body">
          <h5 class="card-title">Budget</h5>
          <div class="input-group mb-3">
            <span class="input-group-text">₱</span>
            <input type="text" class="form-control">
            <span class="input-group-text">.00</span>
          </div>
        </div>
        <button class="btn btn-primary" (click)="btnClicked()">Add Budget</button>
      </div>
    </div>
  </div>

  <hr />

  <div class="container mt-4">
    <div class="row  mb-2">
      <div class="col fw-bolder">
        Budget Allocation
      </div>
      <div class="col fw-bolder">
        Category
      </div>
    </div>
    <app-budget-table *ngFor="let b of myBudget" [budget]=" b"></app-budget-table>
  </div>

  <!--<h6>Total Budget: ₱₱₱₱₱₱₱₱₱ </h6>-->

</div>
