<div class="card" style="width: 35rem;">
  <form class="row g-3 m-3">
    <h3 class="form-label">Plan a destination</h3>
    <div class="col">
      <label class="form-label">Destination</label>
      <input type="text" class="form-control" placeholder="Enter destination" [(ngModel)]="myDestination.destination" name="destination">
    </div>
    <div class="row g-2">
      <div class="col">
        <label class="form-label">Start Date</label>
        <input type="date" class="form-control" placeholder="Departure" [(ngModel)]="myDestination.startDate"  name="startDate" >
      </div>
      <div class="col">
        <label class="form-label">End Date</label>
        <input type="date" class="form-control" placeholder="Arrival" [(ngModel)]="myDestination.endDate"  name="endDate">
      </div>
    </div>
    <div class="input-group mb-3">
      <label class="form-label mx-3">Total Budget</label>
      <span class="input-group-text ">₱</span>
      <input type="number" class="form-control" [(ngModel)]="myDestination.budget"  name="budget">
    </div>
    <div>
      <button type="submit" class="btn btn-primary" (click)="addDestination()">Add Destination</button>
    </div>
  </form>
</div>

<div *ngIf="showAlert && isSuccessful">
  <p class="alert alert-success">Save successful!</p>
</div>
<div *ngIf="showAlert && !isSuccessful">
  <p class="alert alert-danger">Save failed. Please try again.</p>
</div>
