<div class="container mt-3 mb-3">
  <h3>Total Expenses</h3>
  <h5>{{totalExpenses}}</h5>



</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 20rem;">

        <!-- <div class="card-body">
          <h5 class="card-title">Category</h5>
          <app-category-select (categorySelectedEvent)="setCategoryId($event)"></app-category-select>
        </div> -->
        <app-expense-form (expenseEvent)="handleExpense($event)"></app-expense-form>
      </div>
    </div>
      <div class="col-sm-8">
        <div class="row mb-2">
          <div class="col fw-bolder">
            Category
          </div>
          <div class="col fw-bolder">
            Expense Items
          </div>
          <div class="col fw-bolder">
            Notes
          </div>
          <div class="col fw-bolder">
            Cost
          </div>
        </div>
      
        <app-expense-table *ngFor="let e of expenses" [expense]="e"></app-expense-table>
      </div>

    </div>
</div>




