<div class="row">
  <div class="col-sm-6">
    <h3 class="card-title">Travel Plan Overview</h3>
    <hr />
    <h4 class="card-title">Number of Planned Trips:</h4>
    <h5 class="mb-4"></h5>

    <h4 class="card-title">Overall Budget</h4>
    <h5 class="mb-4">{{totalBudget}} </h5>

    <h4 class="card-title">Overall Expenses</h4>
    <h5 class="mb-4">₱ </h5>
  </div>

    <div class="col-sm-4">
      <app-travel-form (destinationEvent)="handleDestination($event)"></app-travel-form>
    </div>
  </div>

<div class="row row-cols-1 row-cols-md-3 g-4 pt-5">

  <app-travel-list *ngFor="let list of destinations" [destination]="list"></app-travel-list>
</div>
