<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Category</h5>
    <input type="text" class="form-control" [(ngModel)]="myBudget.category" />
  </div>
  <div class="card-body">
    <h5 class="card-title">Budget</h5>
    <div class="input-group mb-3">
      <span class="input-group-text">₱</span>
      <input type="number" class="form-control" [(ngModel)]="myBudget.amount">
      <span class="input-group-text">.00</span>
    </div>
  </div>
  <button class="btn btn-primary" (click)="btnClicked()">Add Budget</button>
</div>
